<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="ProjectName" value="Sphinx Hotel" />
		<add key="HotelName" value="Sphinx Hotel"/>
		<add key="Phone" value="+20100000000" />
		<add key="Email" value="sphinx.hotel@gmail.com" />
		<add key="Address" value="Cairo" />
	</appSettings>
	
	<connectionStrings>
		<add name="ConnectionString" connectionString="Server=192.168.0.162;Database=HotelDatabase;User Id=sa;Password=VeryStr0ngP@ssw0rd;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	
</configuration>